/* stick footer */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  /*--player-color-main: #e52f3b;*/
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  text-align: center;
}



.video-js {
  font-size: 10px;
  width: 100%;
  min-height: 40vh;
}
.vjs-has-started #player_youtube_api {

}
