<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/main.css">
    <script type="text/javascript" src="/assets/main.js" defer async></script>
  </head>
  <body>
    <!--
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
    </nav>
    <h1>{{ page.title }}</h1>
    -->
    <div class="content">
      <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="{{ page.video }}" data-poster=""></div>
      <section>
        {{ page.parts[0]mantra }}
        {{ content }}
      </section>
    </div>

    <footer class="footer">
      &copy; ॐ
    </footer>
  </body>
</html>
