<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/main.css">
    <script type="text/javascript" src="/assets/main.js" defer async></script>
  </head>
  <body>
    <nav style="position: fixed;">
      <!-- <a href="/">Home</a> -->
      <!-- <a href="/blog/">Blog</a> -->
      <a href="#ru">RU</a>
    </nav>
    <div class="content">
      <!-- <iframe class="video" src="{{ page.video }}?controls=0&iv_load_policy=3&modestbranding=1&rel=0&start=2&end=4&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      <div class="player">
        <div id="player" class="vlite-js" data-youtube-id="{{ page.video }}"></div>
      </div>
      <main>
        <header>
          <h2>Mayapur Mridanga</h2>
          <h1>1. {{ page.title }}</h1>
          <a href="" class="next">→ 2.</a>
        </header>
        {{ content }}
      </main>
    </div>

    <footer class="footer">
      &copy; ॐ
    </footer>
  </body>
</html>
